/* frontend/src/components/GuessingGame/GuessingGame.css */

li,
body,
h1 {
    color: white;
    background-color: black;
}

span,
p,
h2,
h3,
h4 {
    /* color: black; */
    color: white;
    /* background-color: white; */
}