/* frontend/src/components/LandingPage/LandingPage.css */
.auth-buttons {
  display: flex;
  gap: 12px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.btn-signup {
  background-color: #1e4a2b;
  color: black;
  border: none;
  padding: 12px 28px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-signup:hover {
  background-color: #327d4a;
}

.btn-signup:active {
  background-color: #327d4a;
  transform: scale(0.98);
}

.btn-login {
  background-color: transparent;
  color: white;
  border: 2px solid #29643a;
  padding: 10px 26px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.btn-login:hover {
  border: 2px solid #29643a;
  background-color: #29643a;
  color: black;
  border-color: #333333;
}

.btn-login:active {
  transform: scale(0.98);
}

.btn-demo {
  background-color: transparent;
  color: white;
  border: 2px solid #29643a;
  padding: 10px 26px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.btn-demo:hover {
  border: 2px solid #29643a;
  background-color: #29643a;
  color: black;
  border-color: #333333;
}

.btn-demo:active {
  transform: scale(0.98);
}

.landing-page-wrapper {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 0 10px white;
}