/* frontend/src/components/UserProfile/HoverDropdown.css */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.dropdown-label {
    padding: 8px 12px;
    border: 1px solid #ccc;
    /* border: 1px solid black; */
    background-color: #fff;
    /* background-color: black; */
    width: 200px;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    /* border: 1px solid #ccc; */
    border: 1px solid black;
    background-color: white;
    /* background-color: black; */
    width: 100%;
    display: block;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    /* background-color: #ccc; */
    /* background-color: black; */
    background-color: #333333;
}

.dropdown-item.focused {
    /* background-color: #f0f0f0; */
    background-color: black;
    /* color: black; */
    color: white;
    outline: none;
}

.dropdown-item:focus {
    /* outline: 2px solid grey; */
    /* outline: 2px solid black; */
    outline: 2px solid white;
}