/* TODO: Add sitewide styles */
html,
body {
  height: 100%;
  margin: 0;
  /* background: black;
  color: black; */
}

/* h1,
{

} */

/* li {
background-color: black;
color: white;
    } */

/* background-color: black; */

label {
  color: white;
}